.output-container {
    background-color: gray;
    height: 100%;
    display: flex;
    justify-content: center;

    
}

.output-container-ui {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

.materials {
    height: 100%;
    flex: 1;
    background-color: red;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}


.resources {
    height: 100%;
    flex: 1;
    background-color: blue;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.materials li, .resources li {
    list-style: none;
    
}


@media screen {
    
}

