.wrapper {
    margin-top: 20vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;


}

.overwrapper {
    width: 60vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.overextend {
    animation: slideUp 1s ease-in-out 0s normal forwards;
}
.searchWrapper {
    display: flex;
    align-items: center;
}

.expanded{
    height: 100%;
    animation-name: slideUp;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    animation-delay: 0s;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-fill-mode: forwards;
    display: flex;
    align-items: center;
    justify-content: center;
    height: auto;
}


input {
    height: 40px;
    padding: 7px 13px 7px 13px;
    width: 50vw;
    max-width: 700px;
    background-color: rgb(255, 255, 255);
    color: black;
    border-style: none;
    font-size: 20px;
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
}

input:focus {
    outline: none;
    border-style: solid;
    box-shadow: 0px 0px 5px 5px solid #4E4187;
}
button {
    height: 58px;
    width: 58px;
    background-color: #EF6079FF;
    border: none;
    font-size: 30px;
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
    transition: all 0.1s;
    padding-left: 30px;
    font-size: 40px;
    display: flex;
    justify-content: center;
    color: white;
    
}

button div {
    margin-right: 25px;
    margin-top: 5px;
}

button:hover {
    cursor: pointer;
    background-color: rgba(239, 96, 120, 0.541);
}

@keyframes slideInLeft {
    from {
        transform: translateX(-250px);
    }

    to {
        transform: translateX(0);
    }
}

@keyframes slideUp {
    from {
        transform: translateY(0);
    }

    to {
        transform: translateY(-60px);
    }
}




.output-container {
    height: auto;
    display: flex;

    margin-bottom: 30px;

    
}

.output-container-ui {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
}

.materials {
    flex: 1;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px 15px 30px 15px;
}


.resources {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px 15px 30px 15px;
}

.liTitle {
    background-color: black;
    font-size: 35px;
    width: 99%;
}


li {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 20px 10px 20px 10px;
    margin-bottom: 25px;
    background-color: #6554af;
    color: white;
    border-radius: 10px;
    font-size: 20px;
    white-space: nowrap;
    transition: background-color .15s;
    
}

li:hover {
    cursor: pointer;
    background-color: #4d4086;
}

.liTitle:hover {
    cursor: default;
    background-color: black;
}

.resources a, .materials a {
    width: 100%;
    display: flex;
    text-decoration: none;

}

.results {
    font-size: 60px;
}

@media only screen and (max-width: 910px) {
    .output-container-ui {
        justify-content: center;
        align-items: center;
        display: flex;
        flex-direction: column;
    }

    li {
        width: auto;
        font-size: small;
    }

    .materials, .resources {
        justify-content: center;
        align-items: center;
        display: flex;
    }
  }
