.searchWrapper {
    display: flex;
    align-items: center;
}

.searchWrapper.expanded{
    animation-name: slideUp;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    animation-delay: 0s;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-fill-mode: forwards;

    transform: translateY(-30px)
}

input {
    height: 40px;
    border: 1px solid rgba(0, 0, 0, 0.267);
    padding: 7px 13px 7px 13px;
    width: 50vw;
    max-width: 700px;
    background-color: black;
    color: white;
    font-size: 20px;
}

input:focus {
    outline: none;
    box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, 0.199);
}
button {
    height: 54px;
    width: 54px;
    background-color: rgb(0, 0, 134);
    border: none;
    font-size: 30px;

    transition: all 0.1s;
}

button:hover {
    cursor: pointer;
    background-color: rgb(144, 235, 235);
}

@keyframes slideInLeft {
    from {
        transform: translateX(-250px);
    }

    to {
        transform: translateX(0);
    }
}

@keyframes slideUp {
    from {
        transform: translateY(0);
    }

    to {
        transform: translateY(-30px);
    }
}


