@import url('https://fonts.googleapis.com/css?family=Josefin+Sans');

html, body, #root {
    margin: 0;
    height: 100%;
    width: 100%;
    background-color: #FFCFF6;
    font-family: "Josefin Sans", sans-serif;
}